<h1>Listing posts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Post Title</th>
      <th>Url</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.user.username %></td>
      <td><%= post.title %></td>
      <td><%= post.url %></td>
      <td><%= link_to 'Show', post %></td>
      <td><%= link_to "Comments (#{post.comments.count})", post_comments_path(post) %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
