<p id="notice"><%= notice %></p>

<h1>
  <%= link_to @post.title, @post.url %>
</h1>

<p>
  Posted by: 
  <%= @post.user.username %>
</p>
<h2>
	<%= "Comments (#{@post.comments.count})" %>
</h2>

<h3>New comment</h3>

<%= render 'comments/form' %>

<% @comments.each do |comment| %>
	<div class='comment'>
		<%= "Comment by #{comment.user.username}" %>
		<p><%= comment.content %></p>
		
	</div>
<% end %>

<%= link_to 'Back', posts_path %>
